/* Reset default styles */
* {
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

/* Body styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #0c67ae;
}

/* Header styles */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.title {
  font-size: 32px;
  margin-right: 10px;
  font-family: "Pacifico", sans-serif;
}

.logo {
  height: 130px;
  width: 110px;
  margin-right: 5px;
}

/* Instructions Modal styles */
#instructions-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid lightgray;
  max-width: 600px;
}

.close-button {
  color: lightgray;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h2 {
  font-family: Pacifico, cursive;
  margin-top: 0;
}

p {
  text-align: justify;
}


/* Guess form styles */
#guess-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-right: 10px;
}

#guess-form {
  display: flex;
  align-items: center;
}

#guess-form label {
  margin-right: 10px;
}

#guess-result {
  margin-top: 10px;
}

#guess-form input[type="text"] {
  margin-right: 10px;
}

#guess-form button[type="submit"] {
  padding: 5px 10px;
  font-size: 18px;
  margin-top: 5px;
}

/* Game grid styles */
.game-grid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  padding: 0;
  margin-bottom: auto;
  margin-left: 100px;
  list-style: none;
  border: 2px solid #0c67ae;
}

.tile {
  width: 187.5px; /*750px divided by 4 */
  height: 101.25px; /*405px divided by 4 */
  background-image: url("spirited_away.png");
  background-size: 750px 405px;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* Tile background positions */
#tile1 {
  background-position: 0 0;
}

#tile2 {
  background-position: -187.5px 0;
}

#tile3 {
  background-position: -375px 0;
}

#tile4 {
  background-position: -562.5px 0;
}

#tile5 {
  background-position: 0 -101.25px;
}

#tile6 {
  background-position: -187.5px -101.25px;
}

#tile7 {
  background-position: -375px -101.25px;
}

#tile8 {
  background-position: -562.5px -101.25px;
}

#tile9 {
  background-position: 0 -202.5px;
}

#tile10 {
  background-position: -187.5px -202.5px;
}

#tile11 {
  background-position: -375px -202.5px;
}

#tile12 {
  background-position: -562.5px -202.5px;
}

#tile13 {
  background-position: 0 -303.75px;
}

#tile14 {
  background-position: -187.5px -303.75px;
}

#tile15 {
  background-position: -375px -303.75px;
}

#tile16 {
  background-position: -562.5px -303.75px;
}

.tile.dragging {
  opacity: 0.5;
}

.tile:hover {
  background-color: #e0e0e0;
}

.tile:active {
  transform: scale(0.95);
}

.tileEmpty {
  background-color: transparent;
  border: none;
  cursor: default;
}

.hidden {
  display: none;
}

/* Game information styles */
.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: -5px;
  margin-bottom: 20px;
}

.moves,
.timer {
  font-size: 16px;
  margin-top: 10px;
}

/* Button styles */
button {
  margin-top: 10px;
  font-size: 1.2em;
  padding: 0.8em 2em;
  border: 1px solid #0c67ae;
  border-radius: 3em;
  cursor: pointer;
  color: #0c67ae;
}

#movie-btn {
  font-size: 12px;
}

#movie-img.hidden {
  display: none;
}

.timer-button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #f2f2f2;
  border: none;
  color: #0c67ae;
  border: 1px solid #0c67ae;
  cursor: pointer;
  margin-bottom: 10px;
}

.next-level-button {
  margin-top: 90px;
  margin-bottom: 10px;
}


/* Mobile responsive */
@media only screen and (max-width: 480px) {
  .header {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .logo {
    height: 90px;
    width: 75px;

  }

  #guess-form-container {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #guess-form {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  }
  #guess-form label {
    margin-bottom: 5px; 
  }

  #guess-form input[type="text"],
  #guess-form button[type="submit"] {
    width: 100%;
  }
  
  #guess-result {
    margin-left: 10px;
  }

  .game-info {
    margin-top: 20px;
  }

  .container {
    width: 100%;
  }

  .game-grid {
    display: block;
  }

  .grid {
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    width: 100%;
  }

  .tile {
    width: 100%;
  }

  .game-info {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .timer-button {
    font-size: 12px;
  }
}